.context-menu {
    position: fixed;
    width: 10rem !important;
    background-color: white;
    color: black;
    border-radius: 0.8rem;
    z-index: 100000;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
}
.context-menu__list {
    padding: 0.5rem !important;
    font-size: 0.9rem;
}
.context-menu__lists {
    border-radius: 0.5rem !important;
    display: flex;
    gap: 0.5rem;
}
.context-menu__icon > svg {
    font-size: 1rem;
}
