.chat {
  position: relative;
  width: calc(100% - 20rem);
  background-color: white;
  transition: all 500ms ease;
}
.chat__head {
  display: flex;
  height: 3.6rem;
  padding: 0.5rem 1rem;
  align-items: center;
  width: 100%;
  transition: all 500ms ease;
  background-color: var(--gray);
  justify-content: space-between;
  border-bottom: 0.1rem solid #e6e6e6;
}
.chat__head__left {
  display: flex;
  align-items: center;
}
.chat__head__user-info {
  padding-left: 1rem;
}
.chat__head__user-name {
  font-size: 1.2rem;
  font-weight: 500;
}
.chat__head__user-status {
  font-size: 0.8rem !important;
  font-weight: 300;
  margin-top: -0.4rem;
}
.chat__start-chat {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.chat__start-chat__title {
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (min-width: 700px) {
  .chat__head__back-button {
    display: none !important;
  }
}
@media screen and (max-width: 700px) {
  .chat__head {
    padding: 0.5rem;
  }
}
