.chat {
  position: relative;
  width: calc(100% - 20rem);
  background-color: white;
}
.chat__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid #e6e6e6;
  height: 3.6rem;
  background-color: var(--gray);
  padding: 0.5rem;
}
.chat__head__user-info {
  padding-left: 1rem;
}
.chat__head__user-name {
  font-size: 1.2rem;
  font-weight: 500;
}
.chat__head__user-status {
  font-size: 0.8rem !important;
  font-weight: 300;
  margin-top: -0.4rem;
}
.chat__start-chat {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}
.chat__start-chat__title {
  font-size: 1rem;
  font-weight: 400;
}
