.chat {
    position: relative;
    width: calc(100% - 20rem);
    background-color: var(--background-white);
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.chat__head {
    display: flex;
    height: 3.6rem;
    padding: 0.5rem 1rem;
    align-items: center;
    width: 100%;
    transition: all 500ms ease;
    background-color: var(--background-gray);
    color: var(--black-text);
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--background-dark-gray);
}
.chat__head__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.chat__head__left {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.chat__head__user-info {
    padding-left: 1rem;
}
.chat__head__name {
    font-size: 1.2rem;
    font-weight: 500;
}

.chat__head__user-status {
    font-size: 0.8rem !important;
    font-weight: 300;
    margin-top: -0.4rem;
}
.chat__start-chat {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.chat__start-chat__title {
    color: var(--black-text);
    font-size: 1rem;
    font-weight: 400;
}
.chat-modal__container {
    max-height: 30rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat-modal__content {
    padding: 1.5rem;
    padding-top: 0;
    margin-top: -2.5rem;
}
.chat-modal__top-back {
    width: 100%;
    height: 8rem;
    background-color: var(--background-dark-gray);
    border-radius: 0.5rem;
}
.chat-modal__content__top {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}
.chat-modal__profile-avatar {
    cursor: zoom-in;
    background-color: var(--background-white);
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
    width: 7rem !important;
    height: 7rem !important;
    font-size: 2.5rem !important;
}
.chat-modal__info {
    translate: 0 -1.5rem;
}
.chat-modal__info-name {
    font-size: 1.5rem;
    font-weight: 500;
}
.chat-modal__info-user-name {
    font-size: 0.8rem;
    font-weight: 300;
    margin-top: -0.2rem;
}
.chat-modal__content__info-section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
    gap: 2rem;
}
.chat-modal__content-input {
    pointer-events: none !important;
}
@media screen and (min-width: 700px) {
    .chat__head__back-button {
        display: none !important;
    }
}
@media screen and (max-width: 700px) {
    .chat__head {
        padding: 0.5rem;
    }
}
