.emoji-sender {
    position: relative;
    padding: 0.3rem;
  }
.emoji__select-tab {
    padding: 0.5rem;
    padding-bottom: 0;
    width: 20rem;
    height: 18rem;
    background-color: var(--background-gray);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 1000;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    transform-origin: left bottom;
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
}
.emoji__select-tab__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0.3rem;
    display: flex;
    overflow-x: hidden;
    touch-action: pan-x;
    gap: 0.3rem;
    font-size: 0.5rem !important;
    box-shadow: 0 -1rem 1rem rgba(0, 0, 0, 0.1);
}
.emoji__select-tab__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    max-height: calc(100% - 4.9rem);
    overflow-y: auto;
}

.emoji__select-tab__emoji {
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 200ms ease;
}
.emoji__select-tab__emoji:hover {
    transform: scale(1.2);
}

.emoji__select-tab.open {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}
.emoji__select-tab__search-head {
    text-align: center;
}
.emoji__select-tab__search-input {
    width: 90%;
    margin: 0 auto;
    height: 2rem;
}
.emoji__select__not-found {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .emoji__select-tab {
        height: 14rem;
        width: 100%;
        left: 0;
        bottom: 5rem;
        position: fixed;
        border-radius: 0;
        transform-origin: center bottom;
    }
    .emoji__select-tab::after {
        content: '';
        position: absolute;
        bottom: -5rem;
        left: 0;
        width: 5rem;
        height: 5rem;
        background-color: transparent;
        z-index: -1;
    }
    .emoji__select-tab__bottom {
        justify-content: space-around;
    }
}
