.message-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% - 8.6rem);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
    gap: 0.5rem;
}
.message-wrapper__conversation-start-text {
    background-color: var(--gray);
    padding: 1rem;
    font-size: 1rem;
    font-weight: 300;
    max-width: 20rem;
    margin: 0 auto;
    text-align: center;
    border-radius: 0.5rem;
}
.message-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
