.side-bar {
  width: 20rem;
  border-right: 0.1rem solid #e6e6e6;
  transition: all 500ms ease;
}
.side-bar__head {
  width: 100%;
  display: flex;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray);
  border-bottom: 0.1rem solid #e6e6e6;
  border-right: 0.1rem solid #e6e6e6;
  height: 3.6rem;
  padding: 1rem;
  transition: all 500ms ease;
}
.side-bar__conversations-container {
  width: 100%;
  max-height: calc(100% - 3.6rem);
  overflow-y: auto;
  overflow-x: hidden;
}
.side-bar__head__edit-profile {
  position: absolute;
  bottom: 0.2rem;
  right: 0.2rem;
  background-color: var(--gray);
  border-radius: 50%;
  padding: 0.15rem;
  font-size: 1.3rem !important;
  box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
}
.side-bar__avatar {
  width: 2.6rem !important;
  height: 2.6rem !important;
}
.side-bar__head__left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.side-bar__head__title {
  font-weight: 300;
  padding-left: 0.5rem;
  font-size: 1.2rem;
}
.side-bar__head__buttons {
  display: flex;
  gap: 0.5rem;
}

@media screen and (max-width: 700px) {
}
