@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    /* make blue box on mobile click disappare */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
body {
    background-color: var(--background-white);
    overscroll-behavior: none;
}
.app {
    max-width: 1980px;
    margin: 0 auto;
}
:root {
    /* main color mormal theme */
    --primary-color: #1088ff;
    --background-white: #fff;
    --background-gray-context-menu: #fff;
    --background-gray: #f7f7f7;
    --background-dark-gray: #e6e6e6;
    --black-text: #000;
    --white-text: #fff;
    --dark-primary-color: #2a5077;

    /* avatar color */
    --orange-color-top: #ffcd6a;
    --orange-color-bottom: #ffa85c;
    --blue-color-top: #68b4ff;
    --blue-color-bottom: #3b90e6;
    --dark-blue-color-top: rgb(121, 134, 255);
    --dark-blue-color-bottom: rgb(70, 88, 255);
    --red-color-top: rgb(255, 132, 132);
    --red-color-bottom: rgb(231, 58, 58);
    --green-color-top: rgb(187, 68, 241);
    --green-color-bottom: rgb(124, 0, 173);
    --pink-color-top: rgb(247, 153, 255);
    --pink-color-bottom: rgb(189, 96, 184);
}
.dark {
    /* blue dark theme */
    /* --primary-color: #1088ff;
    --background-white: #15202b;
    --background-dark-gray: #192734;
    --background-gray: #22303c;
    --black-text: #fff;
    --white-text: #000; */

    /* dark */
    --primary-color: #1088ff;
    --background-white: #1d1e1f;
    --background-gray-context-menu: #242526;
    --background-dark-gray: #2f2f30;
    --background-gray: #242526;
    --black-text: #e4e6eb;
    --white-text: #000;
}
::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background: var(--background-dark-gray);
    border: 0.2rem var(--background-white) solid;
    border-radius: 10px;
}

@media screen and (max-width: 700px) {
    ::-webkit-scrollbar {
        display: none;
    }
}
