.send-message-bar {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.4rem 1rem;
  background-color: var(--gray);
  width: 100%;
  height: 5rem;
  border-top: 0.1rem solid #e6e6e6;
  transition: all 500ms ease;
}
.send-message-bar__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.send-message-bar__reply {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  height: 4rem;
  background-color: var(--gray);
  top: -4rem;
  padding-left: 1rem;
  left: 0;
  z-index: 100;
  transform-origin: bottom center;
}
.send-message-bar__reply__close-button {
  position: absolute !important;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.send-message-bar__reply-message {
  position: relative;
  font-size: 1rem;
  width: 80%;
  padding-right: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
}
.send-message-bar__reply-message::after {
  content: '';
  position: absolute;
  left: -0.7rem;
  border-radius: 10rem;
  width: 0.2rem;
  height: 100%;
  background-color: var(--primary-color);
}
.send-message-bar__input {
  width: 100%;
  height: 3rem;
  border-radius: 50rem !important;
  background-color: white;
}
.send-message-bar__form {
  width: 100%;
}
.input-bar__send {
  width: 4rem;
  height: 4rem;
}
.input-bar__send > svg {
  font-size: 2rem !important;
}

@media screen and (max-width: 400px) {
  .input-bar {
    gap: 0.5rem;
  }
}
@media screen and (max-width: 700px) {
  .send-message-bar__reply {
    gap: 0.5rem;
  }
}
