.contact-card {
  all: unset;
  display: flex;
  width: 100%;
  align-items: center;
  height: 5rem;
  position: relative;
  border-bottom: 0.02rem solid #eeeeee;
}

.contact-card__content {
  color: black;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}
.contact-card__content > * {
  text-transform: none;
}
.contact-card__info {
  width: 100%;
}
.contact-card__user-name {
  font-size: 1rem;
  font-weight: 500;
}
.contact-card__last-seen {
  position: absolute;
  right: 1rem;
  top: 50%;
  font-size: 0.6rem;
  transform: translateY(-50%);
}
.contact-card__last-message {
  font-size: 0.75rem;
  font-weight: 300;
  margin-top: -0.3rem;
}
.contact-card__avatar {
  width: 2.8rem !important;
  height: 2.8rem !important;
}
.contact-card__skeleton {
  height: 5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0 1rem;
}
.contact-card__skeleton__texts {
  width: 100%;
}

@media screen and (min-width: 700px) {
  .contact-card.active {
    background-color: var(--primary-color);
  }
  .contact-card.active:hover {
    background-color: var(--primary-color);
  }
  .contact-card.active .contact-card__content {
    color: white;
  }
}
