.elevator-button {
  position: absolute !important;
  bottom: 5rem;
  right: 1rem;
  background-color: white !important;
  box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  transition: all 300ms ease !important;
}
.elevator-button.show {
  visibility: visible;
  opacity: 1;
  bottom: 6rem;
}
