.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sign-up__content {
  text-align: center;
  width: 20rem;
  margin-top: -8rem;
}
.sign-up__title {
  font-size: 1.5rem;
  font-weight: 400;
}
.sign-up__logo-image {
  width: 7rem;
}
.sign-up__inputs {
  position: relative;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.sign-up__submit-button {
  width: 10rem !important;
  height: 2.5rem !important;
  margin: 0.5rem auto !important;
}
.sign-up__link {
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-size: 0.9rem;
}
.sign-up__user-exist {
  color: red;
  font-weight: 300;
  position: absolute;
  right: 0;
  top: -1.6rem;
}
.sign-up__avatar {
  width: 12rem !important;
  height: 12rem !important;
  margin: 0 auto;
  object-fit: cover;
}
